In [1]:
import pandas as pd

In [4]:
s = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])
print(s)

a    1
b    2
c    3
dtype: int64

In [5]:
d = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns= ['a', 'b', 'c'])
print(d)

   a  b  c
0  1  2  3
1  4  5  6

In [6]:
d2 = pd.DataFrame(s)
print(d2)

   0
a  1
b  2
c  3

In [7]:
d.head()

   a  b  c
0  1  2  3
1  4  5  6

In [8]:
d.describe()

             a        b        c
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000